@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');

html {
    font-family: 'Josefin Sans', sans-serif;
    color: black;
    font-weight: bold;
    font-size: large;
}

body {
    margin-top: 10px;
    margin-left: 10px;
}